<div class="row mb-4">
  <div class="col-12 d-flex align-items-center justify-content-between">
    <h4 class="page-title">Home</h4>
  </div>
</div>
<div class="row">
  <div class="col-12 card-statistics">
    <div class="row">
      <div class="col-4 grid-margin stretch-card card-tile">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between pb-2">
              <h5>Loading</h5>
            </div>
            <div class="row">
              <div class="col-md-12">
                <a routerLink="/loading" class="btn btn-success btn-block">Acessar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 grid-margin stretch-card card-tile">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between pb-2">
              <h5>Formulário Padrão</h5>
            </div>
            <div class="row">
              <div class="col-md-12">
                <a routerLink="/formulario" class="btn btn-danger btn-block">Acessar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 grid-margin stretch-card card-tile">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between pb-2">
              <h5>Formulário Arquivo</h5>
            </div>
            <div class="row">
              <div class="col-md-12">
                <a routerLink="/formulario-file" class="btn btn-warning btn-block">Acessar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 grid-margin stretch-card card-tile">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between pb-2">
              <h5>Formulário Select Multi</h5>
            </div>
            <div class="row">
              <div class="col-md-12">
                <a routerLink="/formulario-select-multi" class="btn btn-info btn-block">Acessar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 grid-margin stretch-card card-tile">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between pb-2">
              <h5>Formulário Select Load</h5>
            </div>
            <div class="row">
              <div class="col-md-12">
                <a routerLink="/formulario-select-load" class="btn btn-warning btn-block">Acessar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 grid-margin stretch-card card-tile">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between pb-2">
              <h5>Notificações</h5>
            </div>
            <div class="row">
              <div class="col-md-12">
                <a routerLink="/notificacoes" class="btn btn-info btn-block">Acessar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>