<div class="row" id="sortable-view">
  <div class="col-sm-8">
    <div class="title">
      <div class="row">
        <div class="col-6">
          Receita
        </div>
        <div class="col-6 align-self-center text-right">
          <button type="button" (click)="Salvar()" class="btn btn-success box-shadow btn-icon btn-rounded"><i
              class="fa fa-check"></i> Salvar</button>
        </div>
      </div>
    </div>
    <app-form-errors [formulario]="formulario"></app-form-errors>
    <div class="card-body">
      <form (ngSubmit)="formulario.onSubmit()" novalidate [formGroup]="formulario" [class]="loadingHelper.Class()">
        <app-has-danger [condition]="formulario.GetListErrors()['recipeText']" class="form-group">
          <textarea formControlName="recipeText" class="form-control textarea-recipe"></textarea>
        </app-has-danger>
      </form>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card-header sortable-title">
      Medicamentos
    </div>
    <table class="table table-recipe">
      <thead>
      </thead>
      <tbody>
        <tr *ngFor="let item of list">
          <td>
            {{ item.data.nome }}
            <button href="#" class="btn btn-default btn-xs" (click)="AddItem(item.uid)">
              <i class="fa fa-plus"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card-header sortable-title">
      Medicamentos
    </div>
    <div class="table-container">
      <table class="table" [ngClass]="{ 'loading': loadingHelper.IsLoading() }">
        <thead>
          <tr>
            <th>Nome Genérico</th>
            <th class="text-center">Quantidade</th>
            <th class="text-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of selectedItems">
            <ng-template [ngIf]="item.data.active">
              <td>{{ item.data.nome }}</td>
              <td class="text-center">{{ item.quantity }}</td>
              <td class="text-center">
                <a (click)="RemoveItem(item.uid)" class="btn btn-danger btn-xs">Excluir</a>
              </td>
            </ng-template>
          </tr>
        </tbody>
      </table>
    </div>
    <a [routerLink]="['/perfil-paciente/', uidPatient, 'receitas']"
      class="btn btn-primary margin-l-5 mx-sm-3">Voltar</a>
  </div>
</div>