<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header card-default">
        Informações do usuário
      </div>
      <div class="card-body">
        <form class="forms-sample" (ngSubmit)="formulario.onSubmit()" novalidate [formGroup]="formulario"
          [class]="loadingHelper.Class()">
          <app-has-danger [condition]="formulario.GetListErrors()['nome']" class="form-group">
            <label>Nome</label>
            <input formControlName="nome" type="text" class="form-control form-control-rounded">
          </app-has-danger>
          <app-has-danger [condition]="formulario.GetListErrors()['email']" class="form-group">
            <label>E-mail</label>
            <input formControlName="email" type="email" class="form-control form-control-rounded">
          </app-has-danger>
          <div class="row">
            <div class="col">
              <app-has-danger [condition]="formulario.GetListErrors()['password']" class="form-group">
                <label>Senha</label>
                <input formControlName="password" type="password" name="password" class="form-control">
              </app-has-danger>
            </div>
            <div class="col">
              <app-has-danger [condition]="formulario.GetListErrors()['rePassword']" class="form-group">
                <label>Confirmação de Senha</label>
                <input formControlName="rePassword" type="password" name="password" class="form-control">
              </app-has-danger>
            </div>
          </div>
          <app-form-errors [formulario]="formulario"></app-form-errors>
          <br />
          <a [routerLink]="['/pacientes/']" class="btn btn-primary margin-l-5 mx-sm-3">Voltar</a>
          <button type="submit" class="btn btn-primary margin-l-5 mx-sm-3">Salvar</button>
        </form>
      </div>
    </div>
  </div>
</div>