<div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
  <a class="logo-texto" href="../index.html">
      <img src="assets/img/logo-138x32.png" alt="logo" />
  </a>
  <a class="logo-mini" href="../index.html">
      <img src="assets/img/logo-mini-32x32.png" alt="logo" />
  </a>
</div>
<div class="navbar-menu-wrapper d-flex align-items-center">
  <button (click)="accordionMenu()" class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
      <span class="mdi mdi-menu"></span>
  </button>
  <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item dropdown d-none d-xl-inline-block user-dropdown">
          <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown"
             aria-expanded="false">
              <div class="dropdown-toggle-wrapper">
                  <div class="inner">
                      <!--<img class="img-xs rounded-circle" src="https://www.placehold.it/37x37"
       alt="Profile image">-->
                  </div>
                  <div class="inner">
                      <div class="inner">
                          <span class="profile-text font-weight-bold text-capitalize">Primeiro Nome</span>
                          <small class="profile-text small">Usuario</small>
                      </div>
                      <div class="inner">
                          <div class="icon-wrapper">
                              <i class="mdi mdi-chevron-down"></i>
                          </div>
                      </div>
                  </div>
              </div>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
              <a href="Logout" class="dropdown-item">
                  Sair
              </a>
          </div>
      </li>
  </ul>
  <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="offcanvas">
      <span class="mdi mdi-menu"></span>
  </button>
</div>
