.ordem-compra {
    margin-top: 50px;
    margin-bottom: 150px;
}

input.ng-invalid.ng-touched {
    border: 1px solid #f00;
}

select.ng-invalid.ng-touched {
    border: 1px solid #f00;
}

input.ng-valid.ng-touched {
    border: 1px solid #0f0;
}

select.ng-valid.ng-touched {
    border: 1px solid #0f0;
}