<div class="row mb-4">
  <div class="col-12 d-flex align-items-center justify-content-between">
    <h4 class="page-title">Loading</h4>
    <div class="d-flex align-items-center">
      <div class="wrapper mr-4 d-none d-sm-block">
        <p class="mb-0">Summary for
          <b class="mb-0">September 2017</b>
        </p>
      </div>
      <div class="wrapper">
        <a href="#" class="btn btn-link btn-sm font-weight-bold">
          <i class="icon-share-alt"></i>Export CSV</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 card-statistics">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3 grid-margin stretch-card card-tile">
        <div class="card loading">
          <div class="card-body">
            <div class="d-flex justify-content-between pb-2">
              <h5><a href="#">Todays Income</a></h5>
              <i class="icon-reload"></i>
            </div>
            <div class="d-flex justify-content-between">
              <p class="text-muted">Avg. Session</p>
              <p class="text-muted">max: 40</p>
            </div>
            <div class="progress progress-md">
              <div class="progress-bar bg-info w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 grid-margin stretch-card card-tile">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between pb-2">
              <h5>Total Revenue</h5>
              <i class="icon-pie-chart"></i>
            </div>
            <div class="d-flex justify-content-between">
              <p class="text-muted">Avg. Session</p>
              <p class="text-muted">max: 120</p>
            </div>
            <div class="progress progress-md">
              <div class="progress-bar bg-success w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 grid-margin stretch-card card-tile">
        <div class="card loading">
          <div class="card-body">
            <div class="d-flex justify-content-between pb-2">
              <h5>Pending Product</h5>
              <i class="icon-wallet"></i>
            </div>
            <div class="d-flex justify-content-between">
              <p class="text-muted">Avg. Session</p>
              <p class="text-muted">max: 54</p>
            </div>
            <div class="progress progress-md">
              <div class="progress-bar bg-danger w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 grid-margin stretch-card card-tile">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between pb-2">
              <h5>Sales</h5>
              <i class="icon-screen-desktop"></i>
            </div>
            <div class="d-flex justify-content-between">
              <p class="text-muted">Avg. Session</p>
              <p class="text-muted">max: 143</p>
            </div>
            <div class="progress progress-md">
              <div class="progress-bar bg-warning w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>