<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-default">
        <div class="row">
          <div class="col-6">
            Lista de pacientes
          </div>
          <div class="col-6 align-self-center text-right">
            <a [routerLink]="['/pacientes/criar']" class="btn btn-success box-shadow btn-icon btn-rounded"><i
                class="fa fa-plus"></i> Criar</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-container">
          <table class="table" [ngClass]="{ 'loading': loadingHelper.IsLoading() }">
            <thead>
              <tr>
                <th>Nome</th>
                <th class="text-center">E-mail</th>
                <th class="text-center">Estado</th>
                <th class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of list">
                <td>{{ item.data.displayName }}</td>
                <td class="text-center">{{ item.data.email }}</td>
                <td class="text-center">
                  <span *ngIf="item.data.active" class="label label-success">Ativo</span>
                  <span *ngIf="!item.data.active" class="label label-danger">Inativo</span>
                </td>
                <td class="text-center">
                  <a *ngIf="item.data.active" (click)="Disable(item.uid)"
                    class="btn btn-danger btn-xs">Desativar</a>&nbsp;
                  <a *ngIf="!item.data.active" (click)="Enable(item.uid)"
                    class="btn btn-success btn-xs">Ativar</a>&nbsp;
                  <a [routerLink]="['/pacientes/editar/', item.uid]" class="btn btn-info btn-xs">Editar</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>