.textarea-recipe {
    height: 350px;
}

.card-custom-size {
    height: 803px;
}

.table-recipe tbody {
    height: 700px;
    overflow: auto;
    display: block;
}

.table-recipe tbody tr {
    display: block;
}

.table-recipe tbody tr td {
    display: block;
}

.table-recipe tbody tr td button {
    float: right;
    color: #4b71fa;
    cursor: pointer;
}

.table-recipe tbody tr td button:hover {
    float: right;
    color: white;
}