<nav class="nav d-flex">
    <a class="p-2 text-muted" routerLinkActive="active" routerLink="/home">Página Inicial</a>
    <a class="p-2 text-muted" routerLinkActive="active" routerLink="/contador">Contador</a>
    <a class="p-2 text-muted" routerLinkActive="active" routerLink="/tradutor">Tradutor</a>
    <a class="p-2 text-muted" routerLinkActive="active" routerLink="/postagem">Postagem</a>
    <a class="p-2 text-muted" routerLinkActive="active" routerLink="/filmes">Filmes</a>
    <a class="p-2 text-muted" routerLinkActive="active" routerLink="/filmesrx">Filmes Rx</a>
</nav>