<div class="row mb-4">
  <div class="col-12 d-flex align-items-center justify-content-between">
    <h4 class="page-title">Notificações</h4>
    <div class="d-flex align-items-center">
      <div class="wrapper mr-4 d-none d-sm-block">
        <p class="mb-0">Summary for
          <b class="mb-0">September 2017</b>
        </p>
      </div>
      <div class="wrapper">
        <a href="#" class="btn btn-link btn-sm font-weight-bold">
          <i class="icon-share-alt"></i>Export CSV</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 card-statistics">
    <div class="row">
      <div class="col-4 grid-margin stretch-card card-tile">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between pb-2">
              <h5>Sucess</h5>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button (click)="successNotification()" class="btn btn-success btn-block">Notificar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 grid-margin stretch-card card-tile">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between pb-2">
              <h5>Erro</h5>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button (click)="errorNotification()" class="btn btn-danger btn-block">Notificar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 grid-margin stretch-card card-tile">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between pb-2">
              <h5>Alerta</h5>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button (click)="alertNotification()" class="btn btn-warning btn-block">Notificar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 grid-margin stretch-card card-tile">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between pb-2">
              <h5>Informação</h5>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button (click)="infoNotification()" class="btn btn-info btn-block">Notificar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 grid-margin stretch-card card-tile">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between pb-2">
              <h5>Advertir</h5>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button (click)="warnNotification()" class="btn btn-warning btn-block">Notificar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 grid-margin stretch-card card-tile">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between pb-2">
              <h5>Padrão</h5>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button (click)="bareNotification()" class="btn btn-info btn-block">Notificar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>