<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-default">
        <div class="row">
          <div class="col-6">
            Marcações do dia
          </div>
          <div class="col-6 align-self-center text-right">
            <input type="text" class="form-control" placeholder="Pesquisar por paciente"
              (input)="onSearchChange($event.target.value)">
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-container">
          <table class="table" [ngClass]="{ 'loading': loadingHelper.IsLoading() }">
            <thead>
              <tr>
                <th>Médico</th>
                <th>Paciente</th>
                <th class="text-center">Chegada</th>
                <th class="text-center">Saída</th>
                <th class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listView">
                <td>{{ item.data.doctor.displayName }}</td>
                <td>{{ item.data.patient.displayName }}</td>
                <td class="text-center">{{ item.data.timeInitial }}</td>
                <td class="text-center">{{ item.data.timeFinal }}</td>
                <td class="text-center">
                  <span *ngIf="item.data.status == 'attended'" class="label label-success">Atendido</span>
                  <span *ngIf="item.data.status == 'canceled'" class="label label-danger">Cancelado</span>
                  <span *ngIf="item.data.status == 'active'" class="label label-info">Ativo</span>
                  <span *ngIf="item.data.status == 'late'" class="label label-warning">Atrasado</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>