service cloud.firestore {
  match /databases/{database}/documents {
    match /admins/{document=**} {
      allow read, write, update: if request.auth.token.email == "cogumelo.oliveira@gmail.com";
    }
    match /doctors/{document=**} {
      allow read, write, update: if request.auth.token.admin;      
      allow read: if request.auth.token.doctor;
      allow read: if request.auth.token.patient;
      allow read: if request.auth.token.reception;
    }
    match /receptionists/{document=**} {
      allow read, write, update: if request.auth.token.admin;
      allow read: if request.auth.token.doctor;
      allow read: if request.auth.token.patient;
      allow read: if request.auth.token.reception;
    }
    match /patients/{document=**} {
      allow read, write, update: if request.auth.token.reception;
      allow read: if request.auth.token.doctor;
      allow read: if request.auth.token.patient;
      allow read: if request.auth.token.reception;
    }
    match /doctor-schedule/{document=**} {
      allow read, write, update: if request.auth.token.reception;
      allow read: if request.auth.token.doctor;
      allow read: if request.auth.token.patient;
      allow read: if request.auth.token.reception;
    }
    match /schedule/{document=**} {
      allow read, write, update: if request.auth.token.reception;
      allow read: if request.auth.token.doctor;
      allow read: if request.auth.token.patient;
      allow read: if request.auth.token.reception;
    }
    match /medicine/{document=**} {
      allow read, write, update: if request.auth.token.doctor;
      allow read: if request.auth.token.doctor;
      allow read: if request.auth.token.patient;
      allow read: if request.auth.token.reception;
    }
    match /recipe/{document=**} {
      allow read, write, update: if request.auth.token.doctor;
      allow read: if request.auth.token.doctor;
      allow read: if request.auth.token.patient;
      allow read: if request.auth.token.reception;
    }
    match /exams/{document=**} {
      allow read, write: if request.auth.token.doctor;
      allow update: if request.auth.token.doctor && resource.data.status != "result";
      allow read: if request.auth.token.doctor;
      allow read: if request.auth.token.patient;
      allow read: if request.auth.token.reception;
    }
    match /rooms/{document=**} {
      allow read, write, update: if request.auth.token.reception;
      allow read: if request.auth.token.doctor;
      allow read: if request.auth.token.patient;
      allow read: if request.auth.token.reception;
    }
    match /types-exam/{document=**} {
      allow read, write, update: if request.auth.uid != null;
    }
  }
}