<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-default">
        <div class="row">
          <div class="col-6">
            Lista de medicamentos
          </div>
          <div class="col-6 align-self-center text-right">
            <a [routerLink]="['/medicamentos/criar']" class="btn btn-success box-shadow btn-icon btn-rounded"><i
                class="fa fa-plus"></i> Criar</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-container">
          <table class="table" [ngClass]="{ 'loading': loadingHelper.IsLoading() }">
            <thead>
              <tr>
                <th>Nome Genérico</th>
                <th class="text-center">Nome de Fábrica</th>
                <th class="text-center">Fabricante</th>
                <th class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of list">
                <ng-template [ngIf]="item.data.active">
                  <td>{{ item.data.nome }}</td>
                  <td class="text-center">{{ item.data.fabrica }}</td>
                  <td class="text-center">{{ item.data.fabricante }}</td>
                  <td class="text-center">
                    <a (click)="RemoveItem(item.uid)" class="btn btn-danger btn-xs">Excluir</a>&nbsp;
                    <a [routerLink]="['/medicamentos/editar/', item.uid]" class="btn btn-info btn-xs">Editar</a>
                  </td>
                </ng-template>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>